#content.patients_table 
  %div{:style => "margin: 20px;"}   
    = link_to '+ Patient', new_patient_path ,:class =>"new_patient_link"
    %span.arrow-down 
    %label.list  List
  %table
    %tr
      %th PATIENT ID
      %th FULL NAME
      %th DOB
      %th GENDER
      %th &nbsp;
    - @patients.each_with_index do |patient, i|
      -class_name = (i%2 == 0) ? " " : "alt"
      %tr{:class => "#{class_name}"}
        %td= patient.id
        %td= patient.name
        %td= patient.dob.strftime('%d %b, %Y')
        %td= patient.gender
        %td= link_to 'Edit', edit_patient_path(patient) ,:class =>"edit_patient_link"

  %br

  
