!!!
%html
  %head
    %title Lab Reporting
    = stylesheet_link_tag    "application", :media => "all"

    = javascript_include_tag "application"
    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
  %body    
    = render "shared/header"
    = yield
    = render "shared/footer"
    = yield :scripts
    = content_for(:javascript)