!!!
%html
  %head
    %title Lab Reporting
    = stylesheet_link_tag    "application", :media => "all"

    = javascript_include_tag "application"

    %link{:href => "http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css", :rel=>"stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
  %body    
    = render "shared/login_header"    
    = yield
    = render "shared/footer"
    = yield :scripts
    = content_for(:javascript)